#content {
    text-align: center;
}

h1 {
    color: #e05227;
    font-weight: bold;
}

.container-desc {
    display: flex;
}

.desc {
    flex-basis: 33.3%;
}

.desc h5 {
    color: #e05227;
    font-weight: bold;
    margin-bottom: 5px;
}

table {
    margin: auto;
    border: 1px solid black;
}

th {
    font-weight: bold;
    border: 1px solid black;
    padding: 5px 15px;
}

td {
    border: 1px solid black;
    padding: 5px 15px;
}