#content1 {
    text-align: center;
    margin: 25px 0px 50px 0px;
}

#content1 h1 {
    color: #E05227;
    font-weight: bold;
}

#myTab {
    border: none;
    background-color: #ff6434;
    width: 254px;
    margin: auto;
    border-radius: 25px;
}

.nav-link {
    color: white;
    text-align: center;
    width: 125px;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #ff6434 !important;
    color: white !important;
    border-radius: 25px;
    border: none;
}

.nav-item.active .nav-link {
    background-color: #E05227 !important;
    color: white !important;
    border-radius: 25px;
    border: none !important;
}

.item {
    background-color: white;
    border-radius: 25px;
    padding: 5px 50px 25px 50px;
    max-width: 500px;
    margin: auto;
}

.item h3 {
    color: #E05227;
    font-weight: bold;
}

.item .form-controller {
    background-color: #ffdbd1;
    border-radius: 25px;
    padding: 5px 25px 25px 25px;
}

.item .form-controller h4 {
    color: #E05227;
    font-weight: bold;
}

.input {
    display: flex;
}

.amount {
    text-align: left;
    width: 70%;
}

.currency {
    text-align: right;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    padding-right: 15px;
}

.currency:hover {
    background-color: #ffccbe;
    cursor: pointer;
    border-radius: 25px;
}

.currency.fix:hover {
    background-color: unset;
    cursor: unset;
    border-radius: unset;
}

.currency.fix i {
    visibility: hidden;
}

.currency img {
    margin-right: 3px;
    margin-left: 3px;
}

.currency i {
    margin-left: 3px;
}

input[type="text"] {
    width: 100%;
    background-color: #ffdbd1;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

input[type="number"] {
    width: 100%;
    background-color: #ffdbd1;
    border: none;
}

input[type="number"]:focus {
    outline: none;
}

.max {
    width: 100%;
    text-align: center;
}

.max .btn {
    width: 100%;
    max-width: 80px;
    /* width: 80px; */
    font-size: 12px;
    height: 25px;
    margin: auto;
    margin-top: 10px;
    padding: 2px 15px;
}

.swap-container {
    background-color: #ffdbd1;
    width: 30px;
    padding-top: 5px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    margin: 15px auto;
    color: #ff6434;
}

.swap-container:hover {
    background-color: #ff6434;
    cursor: pointer;
    color: white;
}

.container {
    width: 100%;
    text-align: center;
}

.btn.exchange {
    width: 120px;
    margin-top: 25px;
}

.list-token {
    display: flex;
    padding: 25px 5px;
}

.list-token:hover {
    cursor: pointer;
    background-color: #ffdbd1;
}

.list-token img {
    margin-right: 5px;
}

.list-token h5 {
    font-weight: bold;
    margin: 0px;
    padding-top: 5px;
}

#myModal .modal-content {
    max-width: 350px;
    margin: auto;
}

#confirmModal .modal-body h5 {
    font-weight: bold;
    color: #E05227;
}

/* FOR LAPTOP SMALL SIZE */

@media screen and (max-width: 1320px) and (min-width: 1024px) {}

/* FOR TABLET DEVICE */

@media screen and (max-width: 1023px) and (min-width: 600px) {}

/* FOR MOBILE DEVICE */

@media screen and (max-width: 600px) {
    .item {
        padding: 0px;
    }
    .item h3 {
        padding: 15px;
    }
    .item h5 {
        padding: 15px;
    }
    .currency {
        width: 50%;
    }
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}