#content1 {
    text-align: center;
    margin: 25px 0px 50px 0px;
}

#content1 h1 {
    color: #E05227;
    font-weight: bold;
}

#myTab {
    border: none;
    background-color: #ff6434;
    width: 254px;
    margin: auto;
    border-radius: 25px;
}

.nav-link {
    color: white;
    text-align: center;
    width: 125px;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #ff6434 !important;
    color: white !important;
    border-radius: 25px;
    border: none;
}

.nav-item.active .nav-link {
    background-color: #E05227 !important;
    color: white !important;
    border-radius: 25px;
    border: none !important;
}

.item {
    padding: 25px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 25px;
}

.desc {
    display: flex;
}

.desc:nth-child(1) {
    margin-bottom: 15px;
}

.sub-title {
    margin-top: 5px;
    display: flex;
    float: right;
}

.sub-title .core {
    font-size: 14px;
    font-weight: normal;
    border: 2px solid #E05227;
    border-radius: 25px;
    width: 65px;
    padding: 5px;
    text-align: center;
}

.sub-title .double {
    font-size: 16px;
    background-color: #E05227;
    color: white;
    width: 45px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    margin-left: 5px;
}

.title {
    font-size: 20px;
    color: #E05227;
}

.desc .left-side {
    text-align: left;
    flex-basis: 25%;
    margin: 5px 0px;
}

.desc .right-side {
    text-align: right;
    flex-basis: 75%;
    font-weight: bold;
    margin: 5px 0px;
}

.desc .right-side .info {
    font-size: 18px;
    color: #E05227;
    cursor: pointer;
    margin-left: 5px;
}

.title-result {
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #E05227;
}

.result {
    display: flex;
}

.sub-title-result {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
}

.result h4 {
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
    flex-basis: 75%;
}

.result button {
    flex-basis: 25%;
}

.container-btn {
    margin-top: 25px;
    text-align: center;
}

.container-btn button {
    width: 100%;
    background: linear-gradient(90deg, rgba(224, 82, 39, 1) 0%, rgba(255, 110, 65, 1) 100%, rgba(243, 195, 158, 1) 100%);
}

.amount-staking {
    width: 100%;
    padding: 5px;
}

.progress {
    background-color: #2b333e;
}

.progress-bar {
    padding-left: 5px;
    font-weight: bold;
    background-color: #ff6434;
}

.warning {
    color: red;
    font-weight: bold;
}

#infoModal .modal-title {
    text-align: center;
}

#infoModal .modal-body table {
    margin: auto;
}

th {
    padding: 0px 25px;
    color: #E05227;
    font-weight: bold;
}

td {
    padding: 5px 0px;
    font-weight: bold;
    font-size: 16px;
}

/* FOR LAPTOP SMALL SIZE */

@media screen and (max-width: 1320px) and (min-width: 1024px) {}

/* FOR TABLET DEVICE */

@media screen and (max-width: 1023px) and (min-width: 600px) {}

/* FOR MOBILE DEVICE */

@media screen and (max-width: 600px) {}