#content1 {
    width: 100%;
    text-align: center;
}

#content1 h1 {
    color: #e05227;
    font-weight: bold;
    font-size: 42px;
}

#content1 h4 {
    font-size: 20px;
}

#content2 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#content2 h2 {
    font-weight: bold;
    color: black;
    font-size: 38px;
    margin-bottom: 25px;
}

#content2 .item {
    border: 1px solid #e05227;
    margin: 0px 50px;
    padding: 0px;
    border-radius: 25px;
    padding-bottom: 15px;
}

#content2 .offer {
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: rgb(224, 82, 39);
    background: linear-gradient(0deg, rgba(224, 82, 39, 1) 0%, rgba(255, 126, 85, 1) 100%, rgba(243, 195, 158, 1) 100%);
    color: white;
    font-weight: bold;
    padding: 10px 0px;
}

#content2 .title h4 {
    background: none;
    color: black;
    font-weight: bold;
}

#content2 .title h2 {
    font-weight: bold;
    color: black;
}

#content2 .price h2 {
    color: #e05227;
}

#content2 .speed {
    margin: 25px;
    padding: 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#content2 .speed h3 {
    margin: 10px;
}

#content2 .desc {
    padding: 10px 15px;
}

#content2 .btn {
    width: 80%;
}

.modal-title {
    font-size: 26px;
    font-weight: bold;
}

.modal-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    text-align: center;
}

.modal-content .title {
    margin-bottom: 25px;
}

.modal-content .title h2 {
    text-align: center;
    color: #e05227;
    font-weight: bold;
    font-size: 38px;
    margin: 0px;
}

.desc {
    display: flex;
    margin: 5px 0px;
}

.desc .left-side {
    text-align: left;
    flex-basis: 35%;
    margin: 5px 0px;
}

.desc .right-side {
    text-align: right;
    flex-basis: 65%;
    font-weight: bold;
    margin: 5px 0px;
}

.modal-content .btn {
    width: 50%;
}

.title-result {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #E05227;
}

.result {
    text-align: left;
    margin-bottom: 25px;
}

#content3 {
    width: 80%;
    margin: auto;
    text-align: center;
}

#content3 .title {
    text-align: center;
    color: #E05227;
    font-weight: bold;
}

#content3 .label {
    display: flex;
    color: gray;
}

#content3 .label h5:nth-child(1) {
    text-align: left;
    flex-basis: 50%;
}

#content3 .label h5:nth-child(2) {
    text-align: right;
    flex-basis: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E05227;
    cursor: pointer;
}

.slider::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E05227;
    cursor: pointer;
}

.result {
    text-align: center;
}

.result h4 {
    font-weight: bold;
}

#content3 h2 {
    font-weight: bold;
    color: black;
    font-size: 38px;
    margin-bottom: 25px;
}

#content3 .item {
    border: 1px solid #e05227;
    margin: 0px 50px;
    padding: 0px;
    border-radius: 25px;
    padding-bottom: 15px;
}

#content3 .offer {
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: rgb(224, 82, 39);
    background: linear-gradient(0deg, rgba(224, 82, 39, 1) 0%, rgba(255, 126, 85, 1) 100%, rgba(243, 195, 158, 1) 100%);
    color: white;
    font-weight: bold;
    padding: 10px 0px;
}

#content3 .title h4 {
    background: none;
    color: black;
    font-weight: bold;
}

#content3 .title h2 {
    font-weight: bold;
    color: black;
}

#content3 .price h2 {
    color: #e05227;
}

#content3 .speed {
    margin: 25px;
    padding: 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#content3 .speed h3 {
    margin: 10px;
}

#content3 .desc {
    padding: 10px 15px;
}

#content3 .desc-custom {
    padding: 0 50px;
}

.numberbox {
    border: none;
    padding: 5px;
    background-color: transparent;
    font-weight: bold;
    width: 150px;
    margin: auto;
}

/* FOR LAPTOP SMALL SIZE */

@media screen and (max-width: 1320px) and (min-width: 1024px) {
    #content2 .item {
        margin: 15px 0px;
    }
}

/* FOR TABLET DEVICE */

@media screen and (max-width: 1023px) and (min-width: 600px) {
    #content2 .item {
        margin: 15px 0px;
    }
}

/* FOR MOBILE DEVICE */

@media screen and (max-width: 600px) {
    #content2 .item {
        margin: 15px 0px;
    }
    #content3 .item {
        margin: 15px 0px;
    }
    #content3 .desc-custom {
        padding: 5px;
    }
}