#content1 {
    text-align: center;
    margin: 25px 0px 50px 0px;
}

#content1 h1 {
    color: #E05227;
    font-weight: bold;
}

.item {
    padding: 25px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 25px;
}

.desc {
    display: flex;
}

.desc:nth-child(1) {
    margin-bottom: 15px;
}

.sub-title {
    margin-top: 5px;
    display: flex;
    float: right;
}

.sub-title .core {
    font-size: 14px;
    font-weight: normal;
    border: 2px solid #E05227;
    border-radius: 25px;
    width: 65px;
    padding: 5px;
    text-align: center;
}

.sub-title .double {
    font-size: 16px;
    background-color: #E05227;
    color: white;
    width: 45px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    margin-left: 5px;
}

.title {
    font-size: 20px;
    color: #E05227;
    text-align: center;
}

.title h3 {
    margin-top: 0px;
    font-size: 36px;
    font-weight: bold;
}

.desc .left-side {
    text-align: left;
    flex-basis: 35%;
    margin: 5px 0px;
}

.desc .right-side {
    text-align: right;
    flex-basis: 65%;
    font-weight: bold;
    margin: 5px 0px;
}

.title-result {
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #E05227;
}

.result {
    font-size: 32px;
}

.progress {
    background-color: #2b333e;
}

.progress-bar {
    padding-left: 5px;
    font-weight: bold;
    background-color: #ff6434;
}

.container-btn {
    margin-top: 25px;
    text-align: center;
}

.container-btn button {
    width: 100%;
    background: linear-gradient(90deg, rgba(224, 82, 39, 1) 0%, rgba(255, 110, 65, 1) 100%, rgba(243, 195, 158, 1) 100%);
}

.btn-detail {
    background: white !important;
    color: #E05227 !important;
}

.btn-detail:active{
    background: white !important;
    color: #ff6434 !important;
    border: 1px solid #ff6434 !important;
}

.warning {
    color: red;
}

.result {
    font-weight: bold;
}

.result h4 {
    margin-top: 0px;
    font-weight: bold;
}