#sidebar-nav {
    padding-top: 100px !important;
}

.btn-login {
    border-radius: 15px;
    font-weight: bold;
}

.navbar-footer {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.navbar-footer h5 {
    color: #E05227;
    font-weight: bold;
    margin: 0px;
}

.navbar-footer img {
    margin-right: 5px;
}

.slimScrollDiv {
    height: 85% !important;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #E05227;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}