#content1 {
    width: 100%;
    text-align: center;
}

#content1 h1 {
    color: #e05227;
    font-weight: bold;
    font-size: 42px;
}

#content1 h4 {
    font-size: 20px;
}

#content2 .menu {
    display: flex;
    justify-content: center;
}

.nav-link {
    background-color: white;
    margin: 0px 10px;
    border-radius: 25px;
    color: #e05227;
    border: 1px solid #e05227;
    font-weight: bold;
}

.menu-item.active .nav-link {
    background-color: #e05227;
    color: white;
    border: none;
}

.nav-link:hover {
    color: #e05227;
}

.title {
    text-align: center;
    margin-top: 25px;
}

.title img {
    width: 100px;
    height: 100px;
}

.title h5 {
    font-weight: bold;
    color: #e05227;
}

.title h4 {
    font-weight: bold;
    font-size: 24px;
}

.detail {
    margin-top: 25px;
    overflow-x: scroll;
}

.fade {
    display: none;
}

.fade.active {
    display: block;
}

table{
    overflow-x: auto;
}