#content1 {
    width: 100%;
    text-align: center;
}

#content1 h1 {
    color: #e05227;
    font-weight: bold;
    font-size: 42px;
}

#content1 h4 {
    font-size: 20px;
}

#content2 {
    margin-top: 50px;
    padding: 0px 15px;
}

#content2 h4 {
    text-align: center;
    color: #e05227;
    font-weight: bold;
}

#content2 .item {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    margin: 25px;
}

#content2 .item .title {
    font-weight: bold;
    color: #e05227;
    font-size: 24px;
}

#content2 .item img {
    width: 75px;
    height: 75px;
}

#content2 .item h5 {
    color: #e05227;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
}

#content2 .item .result {
    font-size: 20px;
}

#content3 {
    text-align: center;
}

#content3 h4 {
    color: #e05227;
    font-weight: bold;
}

#content3 .code {
    border: 1px solid #e05227;
    padding: 5px 10px;
    width: 300px;
    margin: auto;
}

#content3 h3 {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#content3 .referral {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#content3 .child {
    padding-left: 15px;
}

#content3 .child-referal td:first-child {
    padding-left: 28px;
}

#content3 b {
    color: #e05227;
    font-weight: bold;
}

#content3 table {
    margin: auto;
    border: 1px solid black;
    margin-top: 25px;
}

#content3 th {
    border: 1px solid black;
    padding: 5px 15px;
    font-weight: bold;
}

#content3 td {
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

#content3 td i {
    color: #e05227;
    margin-right: 10px;
    cursor: pointer;
}

/* FOR LAPTOP SMALL SIZE */

@media screen and (max-width: 1320px) and (min-width: 1024px) {
    #content2 .item {
        margin: 15px 0px;
    }
}

/* FOR TABLET DEVICE */

@media screen and (max-width: 1023px) and (min-width: 600px) {}

/* FOR MOBILE DEVICE */

@media screen and (max-width: 600px) {
    #content2 .item {
        margin: 15px 0px;
    }
}