#content1 {
    margin-top: 100px;
    text-align: center;
}

#content1 h1 {
    font-weight: bold;
    font-size: 42px;
}

#content2 {
    margin: 25px auto;
    width: 350px;
}

input[type="text"] {
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
}

input[type="password"] {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

.btn-container {
    margin-top: 25px;
    text-align: center;
}

.btn-container .btn {
    width: 80%;
}

.btn-register {
    background-color: white;
    border: 2px solid #e05227;
    color: #e05227;
    font-weight: bold;
    margin: 0px 5px;
}

.btn-container .btn {
    width: 80%;
}

#modalLogin .modal-content {
    width: 350px;
    margin: auto;
}

#content2 p {
    margin-top: 15px;
}

.modal-subheader {
    margin: 5px 0px;
    text-align: center;
}

.modal-subheader h2 {
    font-weight: bold;
}