#content1 {
    width: 100%;
    text-align: center;
}

#content1 h1 {
    color: #e05227;
    font-weight: bold;
    font-size: 42px;
}

#content1 h4 {
    font-size: 20px;
}

#content2 {
    margin-top: 50px;
}

#content2 h3 {
    padding-left: 40px;
    font-weight: bold;
    font-size: 20px;
}

#content2 .item {
    border-radius: 25px;
    background-color: white;
    text-align: center;
    margin: 25px 15px;
    padding: 25px 0px;
}

#content2 .item h3 {
    padding-left: 0px;
    color: #e05227;
    font-weight: bold;
}

#content2 .item button {
    font-weight: bold;
    border-radius: 25px;
}

#content3 {
    margin-top: 50px;
}

#content3 .item {
    text-align: center;
    border-radius: 25px;
    max-width: 500px;
    padding: 5px 0px 25px 0px;
    background-color: white;
    margin: auto;
}

#content3 .item h3 {
    color: #e05227;
    font-weight: bold;
    font-size: 34px;
}

.modal-content {
    text-align: center;
    border: none;
    padding: 15px;
    padding-bottom: 25px;
}

#modal-address {
    border: 1px solid black;
    padding: 5px;
}

#icon-copy {
    color: black;
    margin-left: 10px;
    cursor: pointer;
}

#icon-copy:hover {
    color: #e05227;
}

#tooltip {
    left: 50%;
    border-radius: 15px;
    color: white;
    background-color: #e05227;
    padding: 4px;
    position: absolute;
    font-size: 12px;
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
}

#inp_copy {
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}

.container-address {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* FOR LAPTOP SMALL SIZE */

@media screen and (max-width: 1320px) and (min-width: 1024px) {}

/* FOR TABLET DEVICE */

@media screen and (max-width: 1023px) and (min-width: 600px) {}

/* FOR MOBILE DEVICE */

@media screen and (max-width: 600px) {}