.btn-register {
    background-color: white;
    border: 2px solid #e05227;
    color: #e05227;
    font-weight: bold;
    margin: 0px 5px;
}

.content1 {
    position: relative;
    height: 550px;
}

.content1 img {
    position: absolute;
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.content1 .title {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
}

.content1 h2 {
    margin: 25px 0px;
    font-weight: bold;
    font-size: 38px;
    color: white;
}

.content1 h4 {
    color: white;
}

#content2 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#content2 h2 {
    font-weight: bold;
    color: black;
    font-size: 38px;
    margin-bottom: 25px;
}

#content2 .item {
    border: 1px solid #e05227;
    margin: 15px 50px;
    padding: 0px;
    border-radius: 25px;
    padding-bottom: 15px;
}

#content2 .offer {
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: rgb(224, 82, 39);
    background: linear-gradient(0deg, rgba(224, 82, 39, 1) 0%, rgba(255, 126, 85, 1) 100%, rgba(243, 195, 158, 1) 100%);
    color: white;
    font-weight: bold;
    padding: 10px 0px;
}

#content2 .title h4 {
    background: none;
    color: black;
    font-weight: bold;
}

#content2 .title h2 {
    font-weight: bold;
    color: black;
}

#content2 .price h2 {
    color: #e05227;
}

#content2 .speed {
    margin: 25px;
    padding: 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#content2 .speed h3 {
    margin: 10px;
}

#content2 .desc {
    padding: 10px 15px;
}

#content2 .btn {
    width: 80%;
}

.content3 {
    margin-top: 50px;
    height: 300px;
}

.content3 h2 {
    color: #e05227;
    font-weight: bold;
}

.content3 h4 {
    font-weight: bold;
}

.content3 .left-side {
    padding-left: 125px;
}

.content3 .right-side {
    position: relative;
}

#img1 {
    position: absolute;
    right: 100px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

#img2 {
    position: absolute;
    width: 200px;
    height: auto;
    object-fit: cover;
    right: 25px;
    top: 100px;
}

#content4 h2 {
    text-align: center;
    font-weight: bold;
    color: #e05227;
    margin-bottom: 25px;
}

#content4 .item {
    padding: 25px;
    border-radius: 25px;
    background-color: white;
    margin: 25px 50px;
}

.desc {
    display: flex;
}

.desc:nth-child(1) {
    margin-bottom: 15px;
}

.sub-title {
    margin-top: 5px;
    display: flex;
    float: right;
}

.sub-title .core {
    font-size: 14px;
    font-weight: normal;
    border: 2px solid #E05227;
    border-radius: 25px;
    width: 65px;
    padding: 5px;
    text-align: center;
}

.sub-title .double {
    font-size: 16px;
    background-color: #E05227;
    color: white;
    width: 45px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    margin-left: 5px;
}

.title {
    color: #E05227;
}

.desc .left-side {
    text-align: left;
    flex-basis: 25%;
    margin: 5px 0px;
}

.desc .right-side {
    text-align: right;
    flex-basis: 75%;
    font-weight: bold;
    margin: 5px 0px;
}

.container-btn {
    margin-top: 25px;
    text-align: center;
}

.container-btn button {
    width: 100%;
    background: linear-gradient(90deg, rgba(224, 82, 39, 1) 0%, rgba(255, 110, 65, 1) 100%, rgba(243, 195, 158, 1) 100%);
}

.form-group {
    margin: 5px 0px;
    border-radius: 15px;
    padding: 5px 10px;
}

input[type="text"] {
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
}

input[type="password"] {
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
}

#modalLogin .modal-content {
    width: 350px;
    margin: auto;
}

.modal-subheader {
    margin: 5px 0px;
    text-align: center;
}

.modal-subheader h2 {
    font-weight: bold;
}

.btn-container {
    margin-top: 25px;
    text-align: center;
}

.btn-container .btn {
    width: 80%;
}

.dont-have {
    margin-top: 25px;
}

#content5 {
    margin: 25px;
}

#content5 h4 {
    color: #e05227;
    font-weight: bold;
    font-size: 32px;
}

#content5 .item {
    background-color: white;
    border-radius: 25px;
    margin: 5px 15px;
    padding: 15px;
}

#content5 .detail {
    display: flex;
}

#content5 .detail .left-side {
    width: 50%;
}

#content5 .detail .right-side {
    width: 50%;
    text-align: right;
    font-weight: bold;
}

#content5 .item h2 {
    font-weight: bold;
    color: #9d2b35;
}

/* FOR LAPTOP SMALL SIZE */

@media screen and (max-width: 1320px) and (min-width: 1024px) {}

/* FOR TABLET DEVICE */

@media screen and (max-width: 1023px) and (min-width: 600px) {
    .content1 h4 {
        padding: 0px 50px;
    }
    #content2 {
        margin-top: 0px;
    }
    .content3 {
        height: 550px;
    }
    .content3 .left-side {
        padding: 15px 35px;
    }
    #img1 {
        right: 0px;
        left: calc(60% - 250px);
    }
    #img2 {
        right: 0px;
        left: calc(65% - 200px);
        top: 150px;
    }
    #content2 .item {
        margin: 15px 5px;
    }
    #content4 .item {
        margin: 25px 15px;
    }
}

/* FOR MOBILE DEVICE */

@media screen and (max-width: 600px) {
    .content1 h4 {
        padding: 0px 50px;
    }
    #content2 {
        margin-top: 0px;
    }
    .content3 {
        height: 750px;
    }
    .content3 .left-side {
        padding: 15px 35px;
    }
    #img1 {
        right: 0px;
        left: calc(80% - 250px);
    }
    #img2 {
        right: 0px;
        left: calc(85% - 200px);
        top: 150px;
    }
    #content2 .item {
        margin: 15px 5px;
    }
    #content4 .item {
        margin: 25px 15px;
    }
}